$color-gris-01: #1f1f1f;
$color-gris-02: #323232;

$color-rojo-01: #d86c52;

$color-verde-01: #9fcb68;
$color-verde-02: #427e04;
$color-verde-03: #3e4e2a;

$color-azul-01: #55918b;
$color-azul-02: #5591dd;
