@import "./Colores.scss";

.tarea-contenedor {
  width: 50rem;
  min-height: 6.5rem;
  background-color: $color-azul-02;
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.4rem;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  &.completada {
    background-color: $color-verde-02;
    text-decoration: line-through;
  }
}
.tarea-texto {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
  color: #f0f0f0;
  font-weight: 500;
}
.tarea-contenedor-iconos {
}
.tarea-icono {
  width: 3rem;
  height: 3rem;
  margin: 5px;
  color: #f0f0f0;
}
